section#nosotros.container-fluid.px-4
        div.row
            div.col-lg-6.col-md-5.col-12
                img.imagen-pete.img-fluid(src='/images/talking-each.png')
            div.col-lg-6.col-md-7.col-12.text-center.px-5.pt-4
                h2.impakta-subtitle Nosotros
                h3.impakta-label.
                    13 años en el mercado nacional que nos respaldan, un gran equipo especialista en
                    estrategia, diferentes formatos estáticos y digitales en mercado nacional que nos respaldan, un gran equipo especialista en
                    estrategia, diferentes formatos estáticos y digitales.
        div.row.py-5
            div.col-lg-3.col-md-6.text-center
                img.mx-auto(src="/images/pngocean.com-id-ekfgv.png" width="64")
                h2.impakta-header-line Misión
                h5.impakta-label Objetivos en lo que hacemos
                p.impakta-body-text Acompañados de la vanguardia, innovar en la publicidad exterior con los últimos avances de la comunicación
            div.col-lg-3.col-md-6.text-center
                img.mx-auto(src="/images/magic-wand.png" width="64")
                h2.impakta-header-line Visión
                h5.impakta-label Enfocándonos en mejorar por ti
                p.impakta-body-text Junto a nuestros clientes plasmar ideas creativas para un resultado óptimo en el público objetivo de la marca
            div.col-lg-3.col-md-6.text-center
                img.mx-auto(src="/images/happiness.png" width="64")
                h2.impakta-header-line Compromiso
                h5.impakta-label Objetivos en lo que hacemos
                p.impakta-body-text.
                    Trabajamos de manera planificada, teniendo en cuenta los tiempos y recursos siempre involucrando al
                    cliente para  que logre el objetivo trazado.
            div.col-lg-3.col-md-6.text-center
                img.mx-auto(src="/images/rocket.png" width="64")
                h2.impakta-header-line Paneles Creativos
                h5.impakta-label Enfocándonos en mejorar por ti
                p.impakta-body-text.
                    Contamos con mas de 400 caras a nivel nacional ubicados en puntos estratégicos. Nuestra experiencia en el
                    mercado peruano nos alava
