section#contact-form
    div.row
        div.col-lg-6
            h2.mx-4.mt-2.impakta-subtitle ESCRÍBENOS
            p.mx-4.mt-2.impakta-label Email: tufiesta.com.pe@gmail.com
            p.mx-4.mt-2.impakta-label Teléfonos: 994-181-642 / 982-856-092
            p.mx-4.mt-2.impakta-label Dirección: Av. Canada 3966 - San Luis
            form.mx-4.mt-2(method="post" action="/send-email")
                div.form-group
                    label(for="inputEmail") Ingrese su email:
                    input#inputEmail.form-control(name="inputEmail" type="email" placeholder="ej. mariano.diaz@gmail.com" required)
                div.form-group
                    label(for="inputName") Ingrese su Nombre:
                    input#inputName.form-control(name="inputName" type="text" placeholder="Ej. Mariano Diaz" required)
                div.form-group
                    label(for="inputPhone") Ingrese su telefono:
                    input#inputPhone.form-control(name="inputPhone" type="tel" placeholder="921921921" pattern="[0-9]{3}[0-9]{3}[0-9]{3}" required)
                div.form-group
                    label(for="inputMessage") Ingrese su Mensaje:
                    textarea#inputMessage.form-control(name="inputMessage" required)
                input.btn.btn-outline-primary(type="submit" value="Enviar")
        div.col-lg-6
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.3718991750661!2d-76.99069868133029!3d-12.078735599465345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c635cd5cd285%3A0x5bd3a16bee9b5b2c!2sAv.%20Canad%C3%A1%203966%2C%20Cercado%20de%20Lima%2015021!5e0!3m2!1ses-419!2spe!4v1570831459025!5m2!1ses-419!2spe' width='100%' height='826px' frameborder='0' style='border:0;' allowfullscreen='')
