section#our-locations
    div.container-fluid
        h1.text-center.text-white.pt-5 Nuestras ubicaciones
        div.row.text-center.text-white.py-4
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                img.img-fluid(src="https://dummyimage.com/640x360/fff/aaa")
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                img.img-fluid(src="https://dummyimage.com/640x360/fff/aaa")
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                img.img-fluid(src="https://dummyimage.com/640x360/fff/aaa")
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                img.img-fluid(src="https://dummyimage.com/640x360/fff/aaa")
