section#our-locations
    div.container-fluid.text-white
        h1.text-center.text-white.pt-5 Nuestras ubicaciones
        div.row.text-center.text-white.py-4
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                a.pop
                    div.card.bg-darkanddarker.text-white.mx-auto
                        img.card-img-top(src="/images/videna-2.jpg")
                        div.card-body
                            h5.card-title   Videna deportiva de San Luis
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                a.pop
                    div.card.bg-darkanddarker.text-white.mx-auto
                        img.card-img-top(src="/images/condiminios-2.jpg")
                        div.card-body
                            h5.card-title   Av. del aire con av. San Luis
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                a.pop
                    div.card.bg-darkanddarker.text-white.mx-auto
                        img.card-img-top(src="/images/rosa-toro-2.jpg")
                        div.card-body
                            h5.card-title Av. Rosa Toro con Av. del aire
            div.col-lg-6.col-sm-12.col-md-6.mt-4
                a.pop
                    div.card.bg-darkanddarker.text-white.mx-auto
                        img.card-img-top(src="/images/canada-2.jpg")
                        div.card-body
                            h5.card-title   Av. Canada
