extends layout

block content
  header.header-impakta
    div.intento2.container.text-white
      div.col-lg-5.col-md-7.col-sm-12
        img.img-fluid(src="/images/aviso_22.svg")
  include sections/about-us
  include sections/our-locations
  include sections/contact-form
