extends layout

block content
  header.header-impakta#inicio
    div.intento2.container.text-white
      div.col-lg-5.col-md-7.col-sm-12
        img.img-fluid(src="/images/aviso_22.svg")
  include sections/about-us
  include sections/our-locations
  include sections/contact-form
  // Creates the bootstrap modal where the image will appear
  #imagemodal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          button.close(type='button' data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          img.imagepreview(src='' style='width: 100%')


